*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto Slab', serif;

}
.banner h1{
    font-size: 70px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 170px 0px 0px 0px;
    margin: 0px;
    font-weight: 800;
    
}
.banner p{
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 300;

}.link-button{
    text-decoration: none;
    color: bisque;
    background-color: #ff5959;
    padding: 15px 20px;
    border-radius: 6px;
}
.button{
    text-align: center;
    margin: 40px;
    margin-bottom: 50px;
}
#first{
    height: 650px;   
    background-size: cover;
    background-image: no-repeat;
	background: linear-gradient(rgba(123, 154, 207, 0.09),#5f5e5e), url(images/donation7.jpg);
}
.donate{
    margin-top: 150px;
}
.donate h1{
    font-size: 45px;
    text-align: center;
    padding: 15px;
    margin-bottom: 30px;
}
.donate p{
    color: rgb(85, 84, 84);
    text-align: center;
    font-weight: 200;
    margin-top: 9px;
    margin-bottom: 30px;
}
.amount{
    width: 60%;
    height: 150px;
    margin-left: 300px;
    margin-top: 30px;
}
.amount a{
    text-decoration: none;
    text-align: center;
    font-weight: 800;
    font-size: 26px;
    background-color: rgb(236, 236, 236);
    color: rgb(72, 72, 72);
    float: left;
    padding: 45px 35px;
    margin-left: 3%;
    border-radius: 5px;
}
.amount a:hover{
    border: 3px solid rgb(249, 100px, 100px);
    background-color: #ffb4b4;
    transition: 0.2s;
}
.text{
    border:none;
    border-bottom: 2px solid darkgray;
    color: darkgrey;
    padding-bottom: 5px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 12px;
    font-size: 21px;
    padding: 15px;
}
.random-amount{
    margin: auto;
    width: 55%;
    padding: 15px;
}
.donate-plan h1{
    font-size: 45px;
    text-align: center;
    margin-top: 55px;
}
.donate-plan p{
    color: rgb(85, 84, 84);
    text-align: center;
    font-weight: 200;
    margin-top: 9px;
    margin-bottom: 30px;
}
.donate-category{
    display: flex;
    padding: 10px;
    margin: 25px;
}
.food{
    width: 25%;
    height: 375px;
    margin-left: 150px;
    background-color: #facdcd;
}
.shelter{
    width: 25%;
    height: 375px;
    margin-left: 50px;
    background-color: #eaf9b8;
}
.education{
    width: 25%;
    height: 375px;
    margin-left: 50px;
    margin-right: 150px;
    background-color: #ccdbe7;
}
.icon{
    padding: 5px;
    margin: 70px 10px 0px 20px;
}
.donation-h2{
    padding: 5px;
    margin: 10px;
}
.donation-p{
    padding: 5px;
    margin: 10px;
    color: rgb(132, 128, 128);
}
.fourth {
    display: flex;
    width: auto;
    height: 450px;
    margin: 125px;

}
.temp1{
    width: 60%;
    margin: 25px;
}
.temp1 h1{
    font-size: 35px;
    font-weight: bold;
    margin: 75px 30px 0 10px;
    padding: 10px;

}
.temp1 p{
   color: rgb(110, 108, 108);
   margin: 45px 30px 0 10px; 
   padding: 10px;

}
.temp-img{
    width: 40%;
    margin-left: 25px;
}
.temp-img img{
    height: 450px;
    width: 425px;
}
.button-left{
    text-align: left;
    margin: 25px 0 0 20px;
}
.button-contribute{
    text-decoration: none;
    color: bisque;
    background-color: #ff5959;
    padding: 20px 35px;
    border-radius: 6px;
    text-align: left;
}